body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: "Playfair Display", serif;
  color: #fff;
  min-width: fit-content;
}

.main{
  background-color: #130d0a;
  padding-top: 20px;
}

#hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#hero .hero-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script';

}

#hero .hero-info .title-small{
  font-size: 40px;
  color:#fff;
} 

#hero .hero-info .title-big{
  font-size: 48px;
  color:#fff;
} 

#hero .hero-info .title{
  font-size: 25px;
  color:#fff;
  font-family: "Playfair Display", serif;
} 

#hero .hero-info button {
  margin-right: 20px;
}


.countdown {
  padding:80px 0px;
  background-image: url("./img/img3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.countdown h2{
  font-size: 6rem;
  font-family: 'Dancing Script';
}
.countdown .text-small{
  font-size: 35px;
}


.countdown #clockdiv ul {
  padding: 0px;
}

.countdown #clockdiv ul li{
  display: inline-block;
  font-size: 48px;
  line-height: 40px;
}

.countdown #clockdiv ul li span {
  display: block;
  margin-left:15px;
  font-size: 20px;
}

#content {
  background-color: #130d0a;
  padding-top: 40px;
}
.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}
#hero-mobile {
  display: none;
  background: url("https://i.ibb.co/d7hw559/full-illustration.png") no-repeat
    center bottom / cover;
  height: 320px;
}
.first-section {
  padding: 50px 0 20px 0;
}
.text-header {
  font-size: 50px;
  text-align: center;
}
h1 {
  line-height: 120%;
  margin-bottom: 30px;
}
p {
  color: #ede0d5;
  font-size: 18px;
}
#hero,
.layer {
  min-height: 800px;
}
.layer-bg {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_bg.jpg");
}
.layer-1 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_03.png");
  background-position: left bottom;
}
.layer-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png");
}
.layer-3 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_man.png");
  background-position: right bottom;
}
.layer-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
}
.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png");
}


@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }
  #hero-mobile {
    display: block;
  }
}




/* Tokenomics */

.tokenomics {
  font-size: 5rem;
  padding:10px 0px;
  font-family: 'Dancing Script';
}
.tokenomics h2 span {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}

h2.tokenomics{
  font-size: 2rem;
  padding-bottom: 120px;
}


/* Our Vision */

.ourvision{
  padding-top: 40px;
  padding-bottom: 150px;
}

.ourvision h3{
  font-size: 4rem;
  font-family: 'Dancing Script';
}


.ourvision .spirit-img {
  filter: blur(80px);
  transition: 0.8s;
  transition-timing-function: ease-in-out;
}

.ourvision .spirit-img::before{
  display: block;
  content: " - Remember this";
}

.ourvision .spirit-img:hover {
  filter: blur(2px);
}

.ourvision .spirit .hover{
  font-size: 2.5rem;
  font-family: 'Dancing Script';
  color:#830201;
  font-weight: 900;
  padding-bottom: 20px;
  -webkit-text-stroke-width:0.2px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

.ourvision .ourvision-text p{
  padding-bottom: 15px;
}

.ourvision .blood{
  padding-top:30px;
}

/* RoadMap */

.roadmap h3{
  font-size: 5rem;
  padding: 10px 0px;
  font-family: 'Dancing Script';
}

.roadmap ul li {
  list-style: none;
}

.roadmap ul li i {
  color:#dc3545;
  padding-right: 15px;
}

.roadmap ul li i.fa-tint-slash{
  padding-right: 8px;
}

/* Footer */

footer ul {
  list-style: none;
  padding:0px;
}


footer code {
  color:#fff;
}

footer .info {
  color:#fff;
}


.pie-chart {
  max-width: 660px;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.pie-chart + .pie-chart {
  margin-left: 40px;
}
/* .pie-chart .max-circ {
  width: 200px;
  height: 200px;
  margin: auto;
  padding-top: 80px;
  border-radius: 50%;
  background: #20405f;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.3), 0 0 7px rgba(255, 255, 255, 0.8);
} */
.pie-chart .max-circ span {
  display: block;
}
.pie-chart .max-circ .label {
  font-size: 11px;
  margin: 0 0 10px;
}
.pie-chart .max-circ .value {
  font-size: 24px;
  font-weight: 700;
  filter: brightness(1.4);
}
.pie-chart .legend {
  margin: 20px 0 0;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: -110px;
}
.pie-chart .legend li {
  margin: 0 5px 10px;
  padding: 8px 8px 5px;
  border-radius: 1px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  color: #ddd;
  text-shadow: 0 1px rgba(0, 0, 0, 0.5);
  transition: background 0.2s, opacity 0.2s;
}
.pie-chart .legend li span {
  color: #fff;
  font-weight: 700;
}
.pie-chart .slice {
  cursor: pointer;
  filter: brightness(1) grayscale(0.15);
  transition: transform 0.2s, filter 0.2s;
}
.pie-chart .slice path {
  opacity: 0.75;
  transition: opacity 0.2s;
}
.pie-chart .slice text {
  font-size: 14px;
}
.pie-chart .slice:hover, .pie-chart .slice.max {
  transform: scale(1.05);
  filter: brightness(1.4) grayscale(0);
}
.pie-chart .slice:hover path, .pie-chart .slice.max path {
  opacity: 1;
}


/*Css fadeout  fadeIn*/

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;

}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}


